@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: "Raleway", serif !important;
    background-size: 100% 100%;
    background-image: url(./assets/Images/home-bg.jpg);
}